.container{

    background-image: url("..\styles\regift.png");
    background-repeat: no-repeat;
    height: 1000px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  h2{
      color: hotpink;
  }