.containerme{

    background-image: url("C:\SheCodes\plus-perth-2019-formal-chicken-frontend\src\styles\regift.png");
    background-repeat: no-repeat;
    height: 1000px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  h2{
      color: hotpink;
  }


  
  @media screen and (max-width: 600px) {
    .containerme{
      display: none;
    }
  }