.mybutt{
    color:hotpink;
    text-align: center;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    background-color: white;
    border: 4px solid;
    border-radius: 30%;
  
}


  .mybutt :hover {
    color: rgb(16, 153, 172);
  }
  

  .thankx{
    background-image: url("..\styles\thanks.jpg");
    width: 100%;
    height: 100%;
  

    background-repeat: no-repeat;
    padding: 500px 0 0 500px;
    background-size: 90%;
    background-size: contain;
  }