.rehome{
        

    padding: 0px 50px 1px 50px;  
    color: black;
    font-size: 20px;
    font-family: 'Calistoga';
    display: flex;
    text-align: start;
    align-content: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: 650px;
    display: inline-flex-start;

    /* flex-direction: column;
    justify-content: center;
    text-shadow:5px 5px 5px red; */

    color:hotpink;
   

}
@media screen and (max-width: 600px) {
    .rehome{
      margin: 0px;
      font-size: 30px;
      display: inline;
    }
  }





.peep{


    width: 50px;
    height: 50px;
    background-color: rgb(248, 9, 49);
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    }
    
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes example {
    0%   {background-color:hotpink; left:0px; top:0px;}
    25%  {background-color:yellow; left:300px; top:0px;}
    /* 50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}*/
    100% {background-color:red; left:0px; top:0px;} 
    }
    
    /* Standard syntax */
    @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:300px; top:0px;}
    
    /* 50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;} */
    100% {background-color:red; left:0px; top:0px;}
    } 
    
    
    
    

     
    
    
   
    
    .top-right {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        bottom: 8px;
        left: 16px;
       
    
    }
    
    .housemove  {
    
        display: inline-flex;
       
        /* justify-content: space-evenly; */
        width: 80%;
        padding: 80px 200px 5px 100px;
     
        background-image: url("C:\SheCodes\plus-perth-2019-formal-chicken-frontend\src\styles\twohouses.jpg");
        background-repeat: no-repeat;
        opacity: 0.5;
        filter: alpha(opacity=50); /* For IE8 and earlier */
        width: 270px;
        height: 50px;
    
        
    }
    
    
  
    .moveit{
        justify-self: self-end;
        justify-content: right;
    }
    

    .peepgift{
        height:100%;
        width: 100%;
          background-image: url("C:\SheCodes\plus-perth-2019-formal-chicken-frontend\src\styles\giftdraftimage3.jpg");
    }
    


    @media screen and (max-width: 600px) {
        .housemove{
          display: none;
        }
      }

      @media screen and (max-width: 600px) {
        .peepggift{
          display: none;
        }
      }
      
      